body{
    background-color: #0b0b0b;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

#map {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
}

.leaflet-container {
    background-color: #0b0b0b;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Style for popups to match dark theme */
.leaflet-popup-content-wrapper {
    background-color: rgba(40, 40, 40, 0.9);
    color: #ffffff;
    border-radius: 6px;
}

.leaflet-popup-tip {
    background-color: rgba(40, 40, 40, 0.9);
}

.leaflet-popup-content {
    font-family: 'Palatino Linotype', serif;
    padding: 5px;
}

.leaflet-popup-content b {
    color: #ffeb3b;
}

/* Style for the scale control */
.leaflet-control-scale {
    color: white;
    background-color: rgba(40, 40, 40, 0.6);
    padding: 2px 5px;
    border-radius: 4px;
}